{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <!-- {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4 author-about">
        {{ end }} -->
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content  workshop-title">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
      {{- $images := .Resources.ByType "image" -}}
      {{ range $images }}
      <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
        <img src="{{ .RelPermalink }}" height="{{ .Height }}" width="{{ .Width }}" alt="Gallery Image" class="img-fluid">
      </div>
      {{ end }}
    </div>
  </div>
</section>
<br>

{{ end }}