/* Button style */
.btn {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  font-family: $title-font;
  text-transform: capitalize;
  padding: 10px 15px;
  border-radius: 6;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 !important;
    text-decoration: none !important;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white !important;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $border-color !important;
    border-color: $border-color !important;
    text-decoration: none !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $primary-color;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $border-color !important;
    border-color: $border-color !important;
    color: $white !important;
    text-decoration: none !important;
  }
}