// Color Variables
$primary-color: #be6e46;
$text-color: #373737;
$text-color-dark: #373737;
$text-color-light: #acbdba;
$body-color: #fff;
$border-color: #e69872;
$black: #000;
$white: #fff;

$header: $text-color;
$rule: $border-color;
$link: $border-color;
$link-hover: $primary-color;

$jet: #373737;
$ashgray: #acbdba;
$gainsboro: #cddddd;
$dkgoldenrod: #e69872;
$brnsugar: #be6e46;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';