<section class="section-sm section-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <!-- about -->
          <article class="card featured-post">
            <div class="row no-gutters align-items-center">
              <div class="col-md-7">
                <a href="#"><img src="/images/selfie.jpg" alt="illustrator and book artist susannah fisher" class="card-img-top">
                </a>              
              </div>
              <div class="col-md-4 offset-md-1">
                <div class="card-body">
                  <a href="#"
                    class="h1 font-weight-bold d-block text-dark mb-4 card-title">TBD</a>
                  <p class="card-text">tbd</p>
                  <a href="/about" class="btn btn-outline-primary">read more</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

