 <!-- favorites -->
 <section class="widget">
    <h4 class="widget-title">Favorite Places On The Web</h4>
    <ul class="list-unstyled">
        <li class="category-li"><a
            href="https://www.carlemuseum.org/" target="_blank">Eric Carle Museum</a>
        </li>
        <li class="category-li"><a
            href="https://www.edwardgoreyhouse.org/" target="_blank">Edward Gorey House</a>
        </li>
        <li class="category-li"><a
            href="https://drawnjournalism.com/" target="_blank">Drawn Journalism</a>
        </li>
        <li class="category-li"><a
            href="https://www.scbwi.org/" target="_blank">SCBWI</a>
        </li>
        <li class="category-li"><a
            href="https://nmwa.org/learn/library-research/artists-books/" target="_blank">Artists' Books at NMWA</a>
        </li><li class="category-li"><a
            href="https://centerforbookarts.org/" target="_blank">Center For Book Arts</a>
        </li>
        <li class="category-li"><a
            href="https://www.draw-brighton.co.uk/" target="_blank">Draw Brighton</a>
        </li>
        <li class="category-li"><a
            href="https://www.portraitsociety.org/" target="_blank">Portrait Society of America</a>
        </li>
    </ul>
  </section>