

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h4 class="widget-title">Benefits</h4>
                <p class="content mb-5">I currently have 3 tiers to choose from.
                    So whether you'd just like a peek behind the curtain or want indepth tutorials and community
                    or all that and more, one of these is bound to suit you.
                </p>
            </div>    
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto kofi">
                <article class="col-4">
                    <img src="/images/workshops/ba03.jpeg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://ko-fi.com/susannahfisher" target="_blank"
                            class="text-primary">Linen Threads $5/mo</a>
                        <p class="card-text">If you want to support my work and peek behind the scenes in my studio, this is your tier. Each month I pull back the curtain so that you can see all the brainstorming and mess-making that goes on around here.
                        </p>
                    </div>
                </article>

                <article class="col-4 border-left">
                    <img src="/images/workshops/ba04.jpeg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://ko-fi.com/susannahfisher" target="_blank"
                            class="text-primary">Illustrated Books/Zine $10/mo</a>
                        <p class="card-text">Learn to make illustrated books. We'll play with materials like gouache, colored pencils, crayons, pastels, cut paper, and much more!

                        </p>
                    </div>
                </article>

                <article class="col-4 border-left">
                    <img src="/images/workshops/ba01.jpeg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://ko-fi.com/susannahfisher" target="_blank"
                            class="text-primary">The Artists' Book $15/mo</a>
                        <p class="card-text">Do you want to dive deeper into the world of book arts and illustration? In this tier, we work on an illustrated artists’ book. You will have access to everything in the previous tiers along with an in-depth look into my book arts and illustration practice as well as a monthly project we can work on together.

                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>   
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto" style="text-align:center;">
                <!-- <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Become A Member', '#be6e46', 'K3K1HUJNM');kofiwidget2.draw();</script>
                <p style="color:#be6e46; font-size:.9em; font-style: italic; font-weight: 500; padding:0; margin:0;">Click the "Membership" button to choose a tier.</p> -->

            <a href="https://ko-fi.com/susannahfisher/tiers" target="_blank" class="btn btn-primary">more information</a>
            </div>

        </div>
    </div>
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto gainsboro">
                <h4 class="widget-title">FAQs</h4>
                <div>
                    <p class="content mb-5"><span style="font-weight:500">What if I've never made books before or not very much?</span><br>
                        Not a problem at all! I make step by step tutorials, plus you only need to reach out to me on the platform for help.</p>    
                </div>
                <div>
                    <p class="content mb-5"><span style="font-weight:500">What if I can't draw?</span><br>
                        No worries - first I'll show you, and with practice you'll be able to draw what you want, and second however you represent things in your illustrations is legit and celebrated.</p>    
                </div>
                <div>
                    <p class="content mb-5"><span style="font-weight:500">Can I cancel at anytime?</span><br>
                        Absolutely! There is no contract, just a recurring monthly subscription payment, so you can cancel any time.</p>    
                </div>
            </div>
        </div>
    </div>
</section>

  