<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto patreon" style="background-color:#cddddd; border-radius: 6px; padding: 2rem;">
                <h4 class="widget-title">Free Trial</h4>
                <p class="content mb-5">From January 2023 through March 2023, all tier content is available to the public free. Enjoy the content, make some illustrated books, and if you are having a good time stick around. I've got a lot of awesome book structures and illustrations scheduled for the rest of the year!</p>
            </div>
        </div>
    </div>
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h4 class="widget-title">Benefits</h4>
                <p class="content mb-5">I currently have 4 Patreon tiers to choose from.
                    So whether you'd just like a peek behind the curtain or want indepth tutorials and community
                    or all that and more, one of these is bound to suit you.
                </p>
            </div>    
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto patreon">
                <article class="col-3">
                    <img src="/images/placeholder.jpg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://patreon.com/susannahfisher?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" target="_blank"
                            class="text-primary">Linen Threads $5/mo</a>
                        <p class="card-text">For those who'd like to generally support my work and access exclusive Patreon updates, sketchbook spreads, behind-the-scenes, and so much more!</p>
                    </div>
                </article>

                <article class="col-3">
                    <img src="/images/placeholder.jpg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://patreon.com/susannahfisher?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" target="_blank"
                            class="text-primary">Binding Books $10/mo</a>
                        <p class="card-text">For those who'd like to start making books, you enjoy the previous tier's perks PLUS an indepth bookbinding tutorial a month.</p>
                    </div>
                </article>

                <article class="col-3">
                    <img src="/images/placeholder.jpg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://patreon.com/susannahfisher?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" target="_blank"
                            class="text-primary">Making Artists' Books $15/mo</a>
                        <p class="card-text">This tier is for those interested in expanding the previous tiers' perks to include an extra video a month, live Zoom, and more!</p>
                    </div>
                </article>

                <article class="col-3">
                    <img src="/images/placeholder.jpg" class="card-img-top" alt="">
                    <div class="card-body px-0">
                        <a href="https://patreon.com/susannahfisher?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" target="_blank"
                            class="text-primary">Artists' Book Collector $25/mo</a>
                        <p class="card-text">For those who'd like all the previous tier's perks PLUS special gifts mailed to you.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>   
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <a href="https://patreon.com/susannahfisher?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" target="_blank" class="btn btn-primary col-8 mx-auto">Click for more details!</a>
        </div>
    </div>
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h4 class="widget-title">FAQs</h4>
                <div>
                    <p class="content mb-5"><span style="font-weight:500">What if I can't draw?</span><br>
                        No worries - first I'll show you, and with practice you'll be able to draw what you want, and second however you represent things in your illustrations is legit and celebrated.</p>    
                </div>
                <div>
                    <p class="content mb-5"><span style="font-weight:500">Can I cancel at anytime?</span><br>
                        Absolutely! There is no contract, just a recurring monthly subscription payment, so you can cancel any time.</p>    
                </div>
            </div>
        </div>
    </div>
</section>

  