
<section class="section pb-0 section-space">
    <div class="container">
      <div>
        <h3>Join me on Substack</h3>
      </div>
      <div class="row">
        <div class="col-12 mb-5, mb-lg-0">
          <div class="row">
            <div class="col-6 mb-4">
              <iframe src="https://anaturalistsnotebook.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>            </div>
            <div class="col-md-6 mb-4">
              <iframe src="https://beautifulordinarylife.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12 mb-5 mb-lg-0">
          <div class="row" data-masonry='{"percentPosition": false }'>
            {{ $paginator := .Paginate ( first 3 (where .Site.Pages "Params.tag" "workshop")) }}
            {{ range $paginator.Pages }}
            <div class="col-md-4 mb-4">
              <article class="card">
                {{ if .Params.Image }}
                <a href="{{ .Permalink }}"><img src="{{ .Params.Image | absURL }}" alt="{{ .Params.alt_text }}" class="card-img-top fp-card" alt="{{ .Title | markdownify }}"></a>
                {{ end }}

                <div class="image__overlay image__overlay--blur">
                  <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
                  <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
               </div>

              </article>
            </div>
            {{ end }}
          
      </div> -->
    </div>
  </section>