<div class="col-lg-4">
  <div class="widgets">

    <!-- advertisement
    <div class="widget">
      <a href="https://anilluminatedlife.substack.com/" target="_blank"><img src="{{`images/promotion.jpg` | absURL}}" alt="Join me on Patreon for tutorials and more!" class="img-fluid"/></a>
    </div> -->

     <!-- advertisement -->
     <!-- <div class="widget">
      <a href="https://anilluminatedlife.substack.com/" target="_blank"><img src="{{`images/promotion.jpg` | absURL}}" alt="Join me on Patreon for tutorials and more!" class="img-fluid"/></a>
    </div> -->

     <!-- advertisement -->
     <!-- <div class="widget">
      <a href="https://anilluminatedlife.substack.com/" target="_blank"><img src="{{`images/promotion.jpg` | absURL}}" alt="Join me on Patreon for tutorials and more!" class="img-fluid"/></a>
    </div> -->

    <!-- On the web -->
    <div class="widget">
      <h4 class="widget-title">Find Me On The Web</h4>
      <ul class="list-unstyled">
        <li>Beautiful Ordinary Life <br><a href="https://beautifulordinarylife.substack.com" target="_blank">my illustrated column</a></li> 
        <li>A Naturalist's Notebook <br><a href="https://anaturalistsnotebook.substack.com" target="_blank">my nature journaling newsletter</a></li>
      </ul>
    </div>

    <!-- work with me -->
    <div class="widget">
      <h4 class="widget-title">Let's Work Together</h4>
      <ul class="list-unstyled">
        <li>For work inquiries, or to say hello, <a href="mailto:info@susannahfisher.art">please email me</a>.</li> 
        <li>For studio updates, news, and upcoming workshops, <a href="/email/">sign up for my newsletter</a>.</li>
      </ul>
    </div>

    <div class="widget">

      <!-- favorite links -->
      {{ "<!-- favorites list -->" | safeHTML }}
      {{ partial "favorites.html" . }}
      <!-- /favorite links -->

    </div>
  </div>
</div>
