{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content" style="text-align:center;">
          <h3>Oh, dear! Not finding what you're looking for?</h3>
          <p>Below are the most recent projects - perhaps this is what you seek? Or <a href="mailto:info@susannahfisher.art">send me an email</a>, and I'll try to help.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- projects -->
{{ "<!-- gallery -->" | safeHTML }}
{{ partial "gallery.html" . }}
<!-- /projects -->
  
  

{{ end }}