{{ define "main" }}

<!-- hero area -->
{{ "<!-- feature -->" | safeHTML }}
{{ partial "feature.html" . }}
<!-- /hero area -->

<!-- projects -->
{{ "<!-- gallery -->" | safeHTML }}
{{ partial "gallery.html" . }}
<!-- /projects -->

<!-- about -->
{{ "<!-- about -->" | safeHTML }}
{{ partial "bio.html" . }}
<!--- /about -->

<!-- promotions -->
{{ "<!-- promotions -->" | safeHTML }}
{{ partial "promos.html" . }}
<!-- /promotions -->

<!-- recent post -->
{{ "<!-- latest -->" | safeHTML }}
{{ partial "recents.html" . }}
<!-- /recent post -->

<!-- newsletter -->
{{ "<!-- newsletter -->" | safeHTML }}
{{ partial "optin.html" . }}
<!--- /newsletter -->


{{ end }}