{{ define "main" }}

<section class="section-sm section-space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="member-title">Use your creative voice and build your artistic skills making books or zines and bring it to life with your images and writing.</h1>
            </div>
            <div class="col-10">
                <article class="card featured-post">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            {{ if .Params.Image }}
                        <img src="{{ .Params.Image | absURL }}" alt="{{ .Params.alt_text }}" class="img-fluid d-block mx-auto mb-4">
                        {{ end }}
                        </div>
                        <div class="col-md-7">
                        <div class="card-body">
                            <div class="content" style="text-align:center;">
                                {{ .Content }}
                                <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Oooo, I want in, please!', '#be6e46', 'K3K1HUJNM');kofiwidget2.draw();</script> 
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Kofi -->
{{ "<!-- Kofi description -->" | safeHTML }}
{{ partial "kofi.html" . }}
<!-- /Kofi description -->

{{ end }}